<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../libs/angular.js"></script>
</head>
<script>


    function mainCtrl($scope){
        var menuList = [{itemId : 1,itemName : '샌드위치', itemPrice :2000, itemCount : 0}
            ,{itemId : 2,itemName : '아메리카노', itemPrice :1000, itemCount : 0}
            ,{itemId : 3,itemName : '카푸치노', itemPrice :1500, itemCount : 0}];

        $scope.menuList = menuList;
        $scope.totalPrice = 0;
        $scope.buy = function(){
            $scope.totalPrice = 0;

            angular.forEach($scope.menuList, function(value , key){
                console.log('value : ' + value + 'key : ' + key);
                $scope.totalPrice = $scope.totalPrice + (value.itemPrice * Number(value.itemCount));
            })
        }

    }
</script>
<body ng-controller="mainCtrl">
<div>
    <h1>메뉴판</h1>
    <h2>메뉴 목록</h2>
    <table>
        <thead>
        <tr>
            <th>메뉴</th>
            <th>가격</th>
            <th>갯수</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in menuList">
                <td>{{value.itemName}}</td>
                <td>{{value.itemPrice}}</td>
                <td><input type="text" ng-model="value.itemCount"></td>
            </tr>
        </tbody>
    </table>
    <button ng-click="buy()">구매</button>
    <h2>구입 가격</h2>
    <div>
        가격 : {{totalPrice}}
    </div>
</div>
</body>
</html>