<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.js"></script>
</head>
    <script>
        function mainCtrl($scope){
            $scope.name = '철수';
        }
    </script>
<body ng-controller="mainCtrl">
    <form name="sampleForm">
        이름 : <input type="text" name="name" ng-model="name" ng-maxlength="3" ng-required="true">
        <span class="error" ng-show="sampleForm.name.$error.required">필수입력</span>
        <span class="error" ng-show="sampleForm.name.$error.maxlength">넘었어요</span>
        <br>
        핸드폰 번호 : <input type="text" name="tel" ng-model="tel" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/">
        <span class="error" ng-show="sampleForm.tel.$error.pattern">000-0000-0000</span>
    </form>
    <br/>
    <p>사용자 정보 : {{name}} / {{tel}}</p>
    <p>sampleForm.name.$valid = {{sampleForm.name.$valid}}</p>
    <p>sampleForm.name.$error = {{sampleForm.name.$error}}</p>
    <p>sampleForm.tel.$valid = {{sampleForm.tel.$valid}}</p>
   aaa {{sampleForm.$modelValue}}
    <p>sampleForm.tel.$error = {{sampleForm.tel.$error}}</p>
    <p>sampleForm.$valid = {{sampleForm.$valid}}</p>
    <p>sampleForm.$error.required= {{sampleForm.$error.required}}</p>



</body>
</html>