<!DOCTYPE html>
<html ng-app="directiveApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../libs/angular-1.3.15/angular.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('directiveApp',[]);
        myApp.directive('lsk',function($log){
            return {
                //template:"<h1>hello <span>name</span></h1>", //템플릿을 변경할려면 이곳을 수정해야하는 불편함이있다. link 함수에서 마크업구조를 정확히 알고있어야한다.
                templateUrl:"template/helloTpl.html",
                restrict:"AE",
                /*link : function obj(scope, iEl,iAt,ctrl){
                 //iEl.find("span").text(iAt.name);
                 scope.name = iAt.name;
                 }*/
                scope : {name : "@to"}
              /*  controller : function($scope,$element,$attrs){
                    if($attrs.name) $scope.name = $attrs.name;
                    $log.log($attrs.name)
                }*/
            }
        });

        myApp.controller('demoCtrl',["$scope",function($scope){
            //$scope.name = "Ctrl에서 사용된 name 모델";
            $scope.helloList = [
                {name:'google'}
                ,{name:'naver'}
                ,{name:'daum'}]
        }]);

    </script>
</head>
<body ng-controller="demoCtrl">

<div ng-repeat="hel in helloList" lsk to="{{hel.name}}"></div>
<!--<lsk ng-repeat="hel in helloList" to="{{hel.name}}"></lsk>-->
</body>
</html>